<div class="well text-center" style="margin: 0">
    Copyright &copy; 2017 My Company.<br />
    All Rights Reserved.<br />
    Powered by <a href="http://www.symfony.com">Symfony Framework</a>.
</div>
