<div class="well text-center" style="margin: 0">
    Copyright &copy; 2017 PT Trio Prima Sukses Makmur.<br />
    All Rights Reserved.<br />
    Powered by <a href="http://www.bloomingtech.com">BloomingTech</a>.
</div>
