.report
{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
}

.report .border-top-solid-normal
{
    border-top: 1px solid;
}

.report .border-top-solid-bold
{
    border-top: 2px solid;
}

.report .border-top-dotted-normal
{
    border-top: 1px dotted;
}

.report .border-top-dotted-bold
{
    border-top: 2px dotted;
}

.report .border-bottom-solid-normal
{
    border-bottom: 1px solid;
}

.report .border-bottom-solid-bold
{
    border-bottom: 2px solid;
}

.report .border-bottom-dotted-normal
{
    border-bottom: 1px dotted;
}

.report .border-bottom-dotted-bold
{
    border-bottom: 2px dotted;
}

.report .border-left-solid-normal
{
    border-left: 1px solid;
}

.report .border-left-solid-bold
{
    border-left: 2px solid;
}

.report .border-left-dotted-normal
{
    border-left: 1px dotted;
}

.report .border-left-dotted-bold
{
    border-left: 2px dotted;
}

.report .border-right-solid-normal
{
    border-right: 1px solid;
}

.report .border-right-solid-bold
{
    border-right: 2px solid;
}

.report .border-right-dotted-normal
{
    border-right: 1px dotted;
}

.report .border-right-dotted-bold
{
    border-right: 2px dotted;
}

.report table
{
    margin: 1pt;
}

.report th, .report td
{
    padding: 2pt;
}

.report .report-header
{
    text-align: center;
    font-weight: bold;
}

.report .report-header .report-title
{
    font-size: 1.25em;
}

.report table.report-data
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.report table.report-data table
{
    width: 98%;
    margin-left: 2%;
    margin-right: auto;
    font-size: 0.85em;
}
