{% extends 'report/layout.html.twig' %}

{% block title 'Report Adjustment Stock Header' %}

{% block content %}
    <div id="adjustment-stock-header-grid" data-grid="{{ path('report_adjustment_stock_header_grid') }}"></div>
{% endblock %}

{% block stylesheets_include %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('../app/Resources/public/css/report.css') }}" />
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        table.report-data > thead > tr > th:nth-child(1),
        table.report-data > tbody > tr > td:nth-child(1) { width: 20% }
        table.report-data > thead > tr > th:nth-child(2),
        table.report-data > tbody > tr > td:nth-child(2) { width: 20% }
        table.report-data > thead > tr > th:nth-child(3),
        table.report-data > tbody > tr > td:nth-child(3) { width: 60% }
        
        table.report-data > thead > tr > td > table > thead > tr > th:nth-child(1),
        table.report-data > tbody > tr > td > table > tbody > tr > td:nth-child(1) { width: 30% }
        table.report-data > thead > tr > td > table > thead > tr > th:nth-child(2),
        table.report-data > tbody > tr > td > table > tbody > tr > td:nth-child(2) { width: 10% }
        table.report-data > thead > tr > td > table > thead > tr > th:nth-child(3),
        table.report-data > tbody > tr > td > table > tbody > tr > td:nth-child(3) { width: 15% }
        table.report-data > thead > tr > td > table > thead > tr > th:nth-child(4),
        table.report-data > tbody > tr > td > table > tbody > tr > td:nth-child(4) { width: 15% }
        table.report-data > thead > tr > td > table > thead > tr > th:nth-child(5),
        table.report-data > tbody > tr > td > table > tbody > tr > td:nth-child(5) { width: 10% }
        table.report-data > thead > tr > td > table > thead > tr > th:nth-child(6),
        table.report-data > tbody > tr > td > table > tbody > tr > td:nth-child(6) { width: 10% }
        table.report-data > thead > tr > td > table > thead > tr > th:nth-child(7),
        table.report-data > tbody > tr > td > table > tbody > tr > td:nth-child(7) { width: 10% }
    </style>
{% endblock %}
