{% extends 'base.html.twig' %}

{% block body %}
    <div>{{ include('header.html.twig') }}</div>
    
    <div class="container">
        <div class="row" style="height: 75px"></div>
        <div class="row">
            <div class="pull-left">
                <span class="h1">{% block title %}{% endblock %}</span>
            </div>
            <div class="pull-right">{% block actions %}{% endblock %}</div>
        </div>
        <hr class="row" />
        <div class="row">{% block content %}{% endblock %}</div>
        <div class="row" style="height: 75px"></div>
    </div>
    
    <div>{{ include('footer.html.twig') }}</div>
{% endblock %}
