{% extends 'report/layout.html.twig' %}

{% block title 'Report Journal Ledger by Account' %}

{% block content %}
    <div id="account-journal-ledger-grid" data-grid="{{ path('report_account_journal_ledger_grid') }}"></div>
{% endblock %}

{% block stylesheets_include %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/report.css') }}" />
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        table.report-data > thead > tr > th:nth-child(1),
        table.report-data > tbody > tr > td:nth-child(1) { width: 85% }
        table.report-data > thead > tr > th:nth-child(2),
        table.report-data > tbody > tr > td:nth-child(2) { width: 15% }
        
        table.report-data > thead > tr > td > table > thead > tr > th:nth-child(1),
        table.report-data > tbody > tr > td > table > tbody > tr > td:nth-child(1) { width: 15% }
        table.report-data > thead > tr > td > table > thead > tr > th:nth-child(2),
        table.report-data > tbody > tr > td > table > tbody > tr > td:nth-child(2) { width: 15% }
        table.report-data > thead > tr > td > table > thead > tr > th:nth-child(3),
        table.report-data > tbody > tr > td > table > tbody > tr > td:nth-child(3) { width: 25% }
        table.report-data > thead > tr > td > table > thead > tr > th:nth-child(4),
        table.report-data > tbody > tr > td > table > tbody > tr > td:nth-child(4) { width: 15% }
        table.report-data > thead > tr > td > table > thead > tr > th:nth-child(5),
        table.report-data > tbody > tr > td > table > tbody > tr > td:nth-child(5) { width: 15% }
        table.report-data > thead > tr > td > table > thead > tr > th:nth-child(6),
        table.report-data > tbody > tr > td > table > tbody > tr > td:nth-child(6) { width: 15% }
    </style>
{% endblock %}
