{% extends 'report/layout.html.twig' %}

{% block title 'Report Inventory Transaction' %}

{% block content %}
    <div id="inventory-transaction-grid" data-grid="{{ path('report_inventory_transaction_grid') }}"></div>
{% endblock %}

{% block stylesheets_include %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/report.css') }}" />
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        table.report-data > thead > tr > th:nth-child(1),
        table.report-data > tbody > tr > td:nth-child(1) { width: 20% }
        table.report-data > thead > tr > th:nth-child(2),
        table.report-data > tbody > tr > td:nth-child(2) { width: 15% }
        table.report-data > thead > tr > th:nth-child(3),
        table.report-data > tbody > tr > td:nth-child(3) { width: 15% }
        table.report-data > thead > tr > th:nth-child(4),
        table.report-data > tbody > tr > td:nth-child(4) { width: 15% }
        table.report-data > thead > tr > th:nth-child(5),
        table.report-data > tbody > tr > td:nth-child(5) { width: 7% }
        table.report-data > thead > tr > th:nth-child(6),
        table.report-data > tbody > tr > td:nth-child(6) { width: 7% }
        table.report-data > thead > tr > th:nth-child(7),
        table.report-data > tbody > tr > td:nth-child(7) { width: 7% }
        table.report-data > thead > tr > th:nth-child(8),
        table.report-data > tbody > tr > td:nth-child(8) { width: 15% }
    </style>
{% endblock %}
